
@{
    ViewBag.Title = "Fechamento de Caixa";
}

<h2><i class="fa fa-file-text-o"></i> Manual</h2>
<div class="form-horizontal">
    <h4>Fechamento de Caixa</h4>
</div>

<div class="PDF" style="padding-left: 150px">
    <object data="~/Documents/Fechamento_Caixa_2016.pdf" id="obPDF" type="application/pdf" width="750" height="460"></object>
</div>

