@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2><i class="fa fa-ellipsis-h"></i> About</h2>
<div class="form-horizontal">
    <h4>O que é EGALI?</h4>
</div>

<div class="panel-body">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="PDF" style="padding-left: 150px">
                <object data="~/Documents/Egali_2016.pdf" id="obPDF" type="application/pdf" width="750" height="460"></object>
            </div>
        </div>
    </div>
</div>